
@import url('https://fonts.googleapis.com/css?family=Raleway:200i,300,300i,400,400i,500,500i,600i,700,700i,800,900');

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
     font-family: 'Raleway', sans-serif;
}
ul>li{
    list-style: none;
    padding: 0;
    margin: 0;
}
html,
body { height: 100% }
body {
  font-family: 'Raleway', sans-serif;
}
a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/*====header-area=====*/

.header-top-area {
    background: #333333 none repeat scroll 0 0;
    height: 50px;
}
.call-area{}
.call-area a {
  padding: 0 10px 0 0;
  color: #fff;
  font-size: 16px;
}
.call-area a i {
  font-size: 20px;
  color: #fff;
  margin-top: 12px;
  padding: 0 5px 0px 0px;
}



.our-sign-up-area{}

.log-area{
   float: right;
    
    
}
.log-area ul{
    padding: 0;
    margin: 0;
}
.log-area ul li{
    position: relative;
}
.log-area ul li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 50px;
    display: block;
    transition: all .3s;
}

.log-area li ul {
  background: #333 none repeat scroll 0 0;
  display: block;
  left: -75px;
  margin: 0;
  padding: 0;
  position: absolute;  
  width: 250px;
    top: 100px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.log-area li:hover ul{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    z-index: 999;
    top: 50px;
}
.log-area ul li ul li{
    transition: all .3s;
}
.log-area ul li ul li:hover{
    background: #7AB900;
}
.log-area ul li ul li a {
  display: block;
  line-height: 35px;
    text-align: center;
}
.log-area ul li ul li a:hover{
    color: #fff;
}


/*model*/

.signin-area {
    float: right;
    margin: 5px 0 0 0px;
    
}



.signin-area .btn-primary {
    color: #fff;
    background-color:transparent;
    border-color: transparent;
    outline-style: none;
    font-size: 15px;
    text-transform: uppercase;
    
}

.btn-primary:hover {
     color: #fff;
    background-color:transparent;
    border-color: transparent;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    outline-style: none;
}

.modal-body input{
    padding: 0 10px;
    
}
.f-form{
    width: 100%;
    height: 50px;
    margin: 5px 0 20px 0;
}


/*model-end*/

.notificatin-area{
    float: right;
}
.notificatin-area button{
    background: none;
    border: none;
}
.notificatin-area span{
    color: #fff;
}

/*=====v-profile======*/
.v-profile{
    position: relative;
    float: right;
    padding: 0 0 0 15px;
}
.v-profile button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0 6px 0 0px;
    margin: 5px;
}
.v-profile img{
    width: 60px;
    height: 30px;
    border-radius: 50%;
}

.v-profile .dropdown-menu {
 left: -60px;
    width: 250px;
}

/*=====v-profile======*/



.location-area{
    float: right;
   
}
.location-area a {
  line-height: 50px;
  font-size: 16px;
  color: #fff;
}


/*====end-header-area=====*/


/*====menu-area=====*/
.menu-area {
  background: #000 none repeat scroll 0 0;
  border-top: 1px solid #ddd;
}

.logo{
    padding: 10px 0;
}
.logo a{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    border:1px solid #908F95;
    padding: 5px 10px;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
}

.logo a:hover{
    color: #fff;
    border:1px solid #908F95;
    background:#908F95; 
}

.main-menu{
}
.main-menu ul{ 
    text-align: right;
}
.main-menu ul li{
    display: inline-block;
    position: relative;
    
}
.main-menu ul li a{
    display: block;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 0 15px 30px;
    font-weight: 500;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.main-menu ul li a:hover{
    color: #333;
}
/*====end-menu-area=====*/


/*===request-page====*/

.request-form h3{
    text-transform: capitalize;
}
.request-form label{}

/*===end-request-page====*/



/*====signle-order-page=====*/


.signle-order-area{
    padding: 50px 0;
}

.order-man{
    margin-right: 50px;
    margin-top: 30px;
}

.order-man img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.order-details table tr{
    color: #333333;
}
.order-details table tr th{
    font-size: 16px;
    font-weight: 400;
}
.order-details table tr td{
    float: left;
    margin-left: 20px;
}

/*====end-signle-order-page=====*/



/*=====review-page=====*/




/*=====end-review-page=====*/





/*====footer-area====*/

.footer-area{
    background: #222;
    color: #fff;
}


.footer-img a{
   padding: 0 10px; 
}

.footer-img img{
    width: 55px;
    height: 60px;
    border-radius: 50%;
    
}

.footer-widget ul li a{
    color: #fff;
}


.footer-logo ul li a {
    color: white;
   
   
}
.footer-logo img{
    padding: 3% 0%;
}

/*====end-footer-area====*/


















